@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f9fa; /* Optional: A background color to complement the background image */
    padding-bottom: 60px; /* Ensure there's space for the fixed footer */
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/bg-abstract.png');
    opacity: 0.3; /* Adjust this value to change the opacity */
    z-index: -1; /* Ensure it stays behind the content */
}
.btn-primary {
    background-color: #080F5B !important;
    border-color: #080F5B !important;
}
.btn-primary:hover {
    background-color: #0d1889 !important;
    border-color: #0d1889 !important;
}
.btn-warning {
    background-color: #db8804 !important;
    border-color: #db8804 !important;
}
.btn-warning:hover {
    background-color: #f9a61f !important;
    border-color: #f9a61f !important;
}
.title-blue{ color: #0d1889; }
.title-gold{ color: #db8804; }
.title-purple{ color: #842dfd; }
/*.custom-shadow{
    text-shadow: 0 3px 0 #dfefff, 0 14px 10px rgba(0, 0, 0, 0.15), 0 6px 1px rgba(0, 0, 0, 0.1), 0 17px 15px rgba(0, 0, 0, 0.1);
}*/
.label-input{
    font-size: 12px;
}
footer {
    width: 100%;
}
@media (max-width: 768px) { 
    #header-context h3 { 
        font-size: 16px; 
    } 
    #header-context h4 {
        font-size: 14px;
    }
    #header-context p { 
        font-size: 14px;
    }
}
